*,
*::before,
*::after{
  box-sizing: border-box;
}
html,
body,
#root,
.app{
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  display: grid;
  grid-template-rows: auto 1fr;
}
.master-header{
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: cornflowerblue;
  box-shadow: 0.10rem 0.25rem 0.9rem black;
  z-index: 2;
  padding: 1rem;
}
.Header-titles{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.master-main{
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: tomato;
  padding: 1rem;
}